* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #b4b5b2;
}

ul {
    list-style: none;
}

.main-container {
    display: flex;
    height: calc(100vh - 100px);
}

/* -----SIDEBAR----- */
.sidebar {
    max-width: 30%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(103,103,103,1) 35%, rgba(73,79,49,1) 100%);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin: 40px;
}

.logo img {
    max-width: 150px;
}

.sidebar a {
    color: #b4b5b2;
    text-decoration: none;
}

.sidebar span {
    margin-left: 10px;
}

.sidebar .list-menu {
    padding-left: 30px;
    padding-top: 10px;
}

.sidebar .list-menu:hover,
.recents .list-recents:hover {
    border-left: 3px solid #30d52a;
}

.sidebar .list-menu:hover a,
.recents .list-recents:hover a {
    color: #fff;
}

.recents {
    margin-top: 30px;
}

.recents p {
    text-transform: uppercase;
    text-align: center;
}

.list-recents {
    padding-top: 10px;
    padding-left: 30px;
}

.bottom-sidebar {

}


/* -----FINE SIDEBAR----- */

main {
    flex-grow: 1;
    background-color: pink;
    overflow: auto;
}

footer {
    height: 100px;
    background-color: green;
}

header {
    height: 80px;
    background-color: grey;
}

#creato-per-te {
    height: 200px;
    background-color: red;
}
